body {
  background-color: lightblue;
}

h1 {
  color: navy;
  text-align: center;
}

.button {
  background-color: navy; /* Green */
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid black;
}